/* NAVBAR Styling */


.navbar-shrink {
    transition: all ease-in-out .3s;
    height: 100px;
}

.navbar-shrink .navbar-brand,
.navbar-shrink .navbar-nav {
    transition: all ease-in-out .3s;
    line-height: 60px;
}

.navbar-shrink .navbar-brand
{
    padding: 18px;
    margin-right: 40px;
    font-size: 32px;
}

.navbar-shrink .navbar-nav > li > a {
    font-size: 24px;
    padding: 20px 10px;
    line-height: 60px;
}

/* CSS to set fixed style for navbar when in narrow state */

@media (max-width: 992px) {
    .navbar-shrink {
        height: 50px;
    }

    .navbar-shrink .navbar-brand,
    .navbar-shrink .navbar-nav {
        height: 50px;
        line-height: 20px;
    }

    .navbar-shrink .navbar-brand
    {
        padding: 14px;
        margin-right: 20px;
        font-size: 24px;
    }

    .navbar-shrink .navbar-nav > li > a {
        font-size: 16px;
        padding: 10px;
        line-height: 30px;
    }
}

/* CSS for shrinking navbar on scroll with js */
.shrink {
    transition: all ease-in-out .3s;
    height: 50px;
}

.shrink .navbar-brand,
.shrink .navbar-nav {
    height: 50px;
    line-height: 20px;
}

.shrink .navbar-brand {
    padding: 8px;
    line-height: 30px;
    font-size: 24px;
}

.shrink .navbar-nav > li > a {
    font-size: 16px;
    padding: 10px;
    line-height: 30px;
}